.register-main{
  min-height: 100vh;
  background-image: url('https://picsum.photos/1080/1920');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.register-contenedor{
  padding-top: 75px;
}

.register-card{
  background-color: #dddddd90;
  min-height: 40vh;
}

.register-form{
  background-color: #e1e1e1;
  border-radius: 10px;
  padding-top: 3%;
  padding-bottom: 3%;
}

.register-button{
  border-radius: 7px;
  font-size: 0.7rem;
  border-color: #20C178;
  color:  #212529;
}

.register-button:hover{
  color:  #20C178;
}

.register-button:focus { 
  outline: 0 !important;
  box-shadow: 0 0 0 0 !important;
}
